p 
{
    color: green;
    div 
    {
        margin: 5px;
        h1 
        {
            color: red;
            b 
            {
                font-style: italic;
                span 
                {
                    background-color: yellow;
                }
            }
        }
    }
}