/* Ejercicio 0 */
.container2
{
    display: grid; 
    grid-template-columns: 2fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 3fr;
    gap: 40px; 
    grid-template-areas: 
        ". . . ."
        ". . . ."
        ". . . ."
        ". . . ."; 
        width: 100%;
        height: 400px;
        background-color: azure;

    div 
    { 
        text-align: center;

        &:nth-child(odd) {
            background-color: green;
        }

        &:nth-child(even) {
            background-color: red;
        }
    }
}

