/* Ejercicio 0 */
.container2
{
    display: grid; 
    grid-template-columns: 2fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 3fr;
    gap: 40px; 
    grid-template-areas: 
        ". . . ."
        ". . . ."
        ". . . ."
        ". . . ."; 
    width: 100%;
    height: 400px;
    background-color: azure;

    div 
    { 
        text-align: center;

        &:nth-child(odd) {
            background-color: green;
        }

        &:nth-child(even) {
            background-color: red;
        }
    }
}



/* Ejercicio 2a */
.ej2a 
{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    grid-template-areas: 
        ". . ."
        ". . ."
        ". . .";
    width: 100%;
    height: 300px;
    background-color: azure;

    div 
    {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: rgb(106, 124, 136);
        color: white;
    }
}



/* Ejercicio 2b */
.ej2b 
{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    grid-template-areas: 
        ". . ."
        ". . ."
        ". . .";
    width: 100%;
    height: 300px;
    background-color: azure;

    div 
    {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: rgb(106, 124, 136);
        color: white;

        &:nth-child(1) {
            grid-column: span 3;
        }
    }
}



/* Ejercicio 3 */
.ej3 
{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    grid-template-areas: 
        ". . ."
        ". . ."
        ". . .";
    width: 100%;
    height: 300px;
    background-color: azure;

    div 
    {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: rgb(106, 124, 136);
        color: white;

        &:nth-child(1) {
            grid-column: span 3;
        }

        &:nth-child(2) {
            grid-row: span 2;
        }
    }
}



/* Ejercicio 4 */
.ej4
{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    grid-template-areas: 
        ". . ."
        ". . ."
        ". . .";
    width: 100%;
    height: 300px;
    background-color: azure;

    div 
    {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: rgb(106, 124, 136);
        color: white;

        &:nth-child(1) {
            grid-column: span 3;
        }

        &:nth-child(2) {
            grid-row: span 2;
        }
    }
}



/* Ejercicio 5 */
.ej5
{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 100%;
    height: 300px;
    background-color: azure;

    div 
    {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: rgb(106, 124, 136);
        color: white;

        &:nth-child(1) {
            grid-column: span 3;
        }

        &:nth-child(2) {
            grid-row: span 2;
        }
    }
}



/* Ejercicio 6 */
.ej6
{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
    height: 300px;
    background-color: azure;

    div 
    {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: rgb(106, 124, 136);
        color: white;

        &:nth-child(1) {
            grid-column: span 2;
        }

        &:nth-child(2) {
            grid-column: span 2;
        }

        &:nth-child(4) {
            grid-column: span 3;
        }

        &:nth-child(5) {
            grid-column: span 4;
        }
    }
}



/* Ejercicio 7 */
.ej7
{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
    height: 300px;
    background-color: azure;

    div 
    {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: rgb(106, 124, 136);
        color: white;

        &:nth-child(1) {
            grid-column-start: 2;
            grid-column-end: span 3;
        }
        
        &:nth-child(3) {
            grid-column: span 2;
        }

        &:nth-child(4) { 
            grid-column: span 3;
        }

        &#naranja
        {
            background-color: rgb(255, 128, 0);
        }
    }
}



/* Ejercicio 8 */
.ej8
{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 100%;
    height: 300px;
    background-color: azure;

    div 
    {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: rgb(106, 124, 136);
        color: white;

        &:nth-child(1)
        {
            order: 6;
        }
    }
}



/* Ejercicio 9 */
.ej9
{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
    height: 300px;
    background-color: azure;
    grid-auto-flow: column;

    div 
    {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: rgb(106, 124, 136);
        color: white;
    }
}



/* Ejercicio 10 */
.ej10 
{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
    height: 300px;
    background-color: azure;

    div 
    {
        display: grid;
        align-items: center;
        justify-content: center;
        background-color: rgb(106, 124, 136);
        color: white;
    }

    #celda4 
    {
        grid-row: span 2;
        padding: 20px;
    }
}

.ej101 
{
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    width: 350px;
    height: 150px;
    background-color: azure !important;

    div 
    {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(218, 218, 246);
        color: black;
        width: 100%;
        height: 40px;

        &:first-child 
        {
            grid-column: span 2;
        }
    }
}
